.gridContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px;
}

.gridItemContainer {
    border: 1px solid #d3d3d3;
}

.image {
    width: 100%;
}

.itemName {
    font-weight: bold;
    font-size: 18px;
}

.itemDescription {
    word-wrap: break-word;
    width: min-content;
    min-width: 100%;
    margin-top: 12px;
}

.imageDescriptionContainer {
    padding: 10px
}



@media (min-width: 600px) {
    .gridContainer {
        flex-direction: row;
    }
    .image {
        max-width: 40vw;
        width: max-content;
    }
}

@media (min-width: 992px) {
    .image {
        max-width: 22vw;
        width: max-content;
    }
}